<h1>Games</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Platform</th>
    <th></th>
    <th>Selling Price</th>
    <th></th>
    <th>Buying Cost</th>
    <th></th>
    <th>Developer</th>
    <th></th>
    <th>Stock</th>
  </tr>
  <% for game in @games %>
  <tr>
    <td><%= game.title %></td>
    <td>|</td>
    <td><%= game.platform %></td>
    <td>|</td>
    <td>£<%= game.selling_price %></td>
    <td>|</td>
    <td>£<%= game.buying_cost %></td>
    <td>|</td>
    <td><%= game.developer %></td>
    <td>|</td>
    <td>
      <% if game.stock == 0 %>
      <%= "Out of Stock" %>
      <% elsif game.stock == 1..10 %>
      <%= "Low Stock" %>
      <% else %>
      <%= game.stock %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
