<p>Title: <%= @game.title %></p>
<p>Platform: <%= @game.platform %></p>
<p>Selling Price: <%= @game.selling_price %></p>
<p>Buying Cost: <%= @game.buying_cost %></p>
<p>Stock: <%= @game.stock %></p>

<form method="post" action="/games/<%= @game.id %>/delete">
  <input type="submit" value="Delete Game"/>
</form>
